@import "../../sassStyles/variables.scss";

.reviews {
    overflow: hidden;
    @include adaptiveValue("padding-top", 140, 60, 0, 1200, 500);
    @include adaptiveValue("padding-bottom", 140, 60, 0, 1200, 500);

    &__container {
        max-width: 1085px;
        padding: 0px 15px;
        margin: 0 auto;
    }

    &__row {
        display: grid;
        grid-auto-flow: column;
        @include adaptiveValue("gap", 50, 30, 0, 1000, 750);

        @media (min-width: em(750)) {
            grid-template-columns: 50% 50%;
        }

        @media (max-width: em(750)) {
            grid-auto-flow: row;
        }
    }

    &__title {
        text-align: center;
        margin-bottom: 67px;

        h2 {
            @media (max-width: em(600)) {
                font-size: 45px;
            }

            @media (max-width: em(450)) {
                font-size: 35px;
            }
        }

        p {
            margin: 0 auto;
            margin-top: 20px;
        }
    }

    &__img {
        position: relative;

        @media (min-width:em(750)) {
            text-align: center;
        }

        img {
            position: relative;
            z-index: 1;
            max-width: 100%;
            @include adaptiveValue("width", 401, 240, 0, 1200, 750);
        }

        &::after {
            content: '';
            position: absolute;
            height: 82%;
            left: 0;
            bottom: 0;
            background: #FFE500;
            opacity: 0.1;
            border-radius: 234px 234px 0px 0px;
            max-width: 100%;
            @include adaptiveValue("width", 468, 270, 0, 1200, 750);

            @media (min-width:em(750)) {
                left: 50%;
                transform: translateX(-50%);
            }

            @media (max-width: em(750)) {
                left: -10px;
            }
        }
    }

    &__left {
        display: flex;
        flex-direction: column;
        min-width: 0;
        align-self: end;
    }

    &__slider {
        margin: 0;
    }
}

.review {
    &__title {
        font-weight: 700;
        font-size: rem(34);
        line-height: 130%;
        color: #313131;
        opacity: 0.88;
        margin-bottom: 20px;
    }

    &__description {
        font-weight: 400;
        font-size: rem(18);
        line-height: calc(28 / 18);
        color: #5F5F5F;
        @include adaptiveValue("margin-bottom", 60, 20, 0, 1200, 900);
    }

    &__author {
        font-weight: 700;
        font-size: rem(18);
        line-height: 130%;
        color: #313131;
        opacity: 0.88;
        margin-top: 40px;
        margin-bottom: 5px;
        @include adaptiveValue("margin-top", 40, 20, 0, 1200, 900);
    }

    &__position-author {
        font-weight: 400;
        font-size: rem(18);
        line-height: calc(23 / 18);
        color: #B8B8B8;
    }
}

.pagination {
    @include adaptiveValue("margin-top", 120, 30, 0, 1200, 700);

    &__bullet {
        font-size: 0;
        display: inline-block;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: #EEF7FB;
    }
}

.swiper-pagination-bullet-active {
    background: #313131;
}