@import "../../sassStyles/variables.scss";

.footer {
    @include adaptiveValue("padding-top", 175, 75, 0, 1200, 600);
    background-color: #313131;

    &__container {
        max-width: 1110px;
        padding: 0px 30px;
        margin: 0 auto;
    }

    &__copyright {
        font-size: rem(20);
        line-height: calc(25 / 20);
        font-feature-settings: 'liga' off;
        color: #FFFFFF;
        padding-bottom: 24px;
        text-align: center;

        @media (max-width: em(540)) {
            font-size: rem(14);
        }
    }
}

.top-footer {
    max-width: 600px;
    margin: 0 auto;
    @include adaptiveValue("padding-bottom", 174, 54, 0, 1200, 600);

    &__title {
        font-weight: 400;
        @include adaptiveValue("font-size", 65, 35, 0, 700, 400);
        line-height: calc(82 / 65);
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 50px;
        @include adaptiveValue("margin-bottom", 50, 20, 0, 1200, 600);
    }

    &__form {
        display: flex;
        gap: 20px;

        @media (max-width: em(500)) {
            flex-direction: column;
        }
    }

    &__container-input {
        flex: 1 1 auto;

        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            background-color: #E0E0E0;
            margin-top: 8px;
        }
    }

    &__input {
        width: 100%;
        background-color: transparent;
        padding: 10px 20px 15px 20px;
        font-size: rem(20);
        line-height: calc(25 / 20);
        color: #E0E0E0;

        &::placeholder {
            color: inherit;
        }
    }

    &__btn {
        background: #FFFFFF;
        box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1), 0px 64.8148px 46.8519px rgba(49, 49, 49, 0.0759259), 0px 38.5185px 25.4815px rgba(49, 49, 49, 0.0607407), 0px 20px 13px rgba(49, 49, 49, 0.05), 0px 8.14815px 6.51852px rgba(49, 49, 49, 0.0392593), 0px 1.85185px 3.14815px rgba(49, 49, 49, 0.0240741);
        border-radius: 5px;
        color: #313131;
        transition: all .3s ease-in-out;

        &:hover {
            background-color: #222222;
            color: #FFFFFF;
        }

        @media (max-width: em(500)) {
            width: 100%;
        }
    }
}

.mail-error::after {
    background-color: red;
}

.bottom-footer {
    @include adaptiveValue("padding-bottom", 73, 35, 0, 900, 500);
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    gap: 10px;

    @media (max-width:$mobile) {
        grid-template: auto auto / auto auto auto;
    }

    @media (max-width: em(540)) {
        grid-template: none;
        grid-auto-flow: row;
    }

    &__logo {
        @media (max-width:$mobile) {
            grid-column: span 3;
            margin-bottom: 15px;
        }

        @media (max-width: em(540)) {
            grid-column: 1;
            margin-bottom: 0px;
        }

        a {
            cursor: pointer;
            font-weight: 700;
            font-size: rem(25);
            line-height: calc(32 / 25);
            letter-spacing: -0.06em;
            color: #fff;
        }

        p {
            margin-top: 32px;
            font-size: rem(14);
            line-height: calc(18 / 14);
            color: #FFFFFF;
            max-width: 192px;

            @media (max-width:$mobile) {
                margin-top: 15px;
            }
        }
    }

    &__title {
        font-size: rem(20);
        line-height: calc(25 / 20);
        color: #FFFFFF;
        margin-bottom: 28px;

        @media (max-width: 540px) {
            margin-top: 15px;
        }
    }

    &__list {
        li {
            &:not(:last-child) {
                margin-bottom: 23px;
            }
        }
    }

    &__link {
        font-size: rem(14);
        line-height: calc(18 / 14);
        color: #FFFFFF;

        &:hover {
            text-decoration: underline;
        }
    }
}