@import "./mixins.scss";
$fontFamily: "Montserrat";
$fontSize: rem(18);

$mainColor: #000;

// Настройки адаптивной сетки ===============================================================================================================================================================================================================================================================================================

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна
$maxWidth: 1440;
// Ширина обмежуючого контейнера
$maxWidthContainer: 1110;
// Загальний відступ у контейнера
// (30 = по 15px зліва і справа, 0 = нема відступу)
$containerPadding: 30;

$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поінти
$tablet: em(991.98); // Планшети
$mobile: em(767.98); // Телефони L
$mobileSmall: em(479.98); // Телефони S